@model IQueryable<Northwind.MVC.UI.Models.CategoryView>

@{
    ViewBag.Title = "Category Page";
}

<h1>Index Category Page</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Description</th>
            <th class="text-center" scope="col">Action</th> 
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td class="text-center"><button type="button" class="btn btn-sm btn-warning">@Html.ActionLink("Update", "Insert", "Category")</button>
                <button type="button" class="btn btn-sm btn-danger">@Html.ActionLink("Delete", "Delete", new { id = category.Id }, new { onclick = "return confirm('Are you sure to delete?')" })</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="btn btn-success text-primary">
    @Html.ActionLink("Insert New Category", "Insert", "Category")
</div>