@model Northwind.MVC.UI.Models.CategoryView

@{
    ViewBag.Title = "Category";
}

@using (Html.BeginForm("Insert", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Category</legend>
                <div class="editor-label">
                    @Html.LabelFor(c => c.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(c => c.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(c => c.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Description, null, new { @class = "text-danger" })
                </div>

                <br />
                <p>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </p>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")                

            </fieldset>
        </div>
    </div>
}